.bg-faded {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.navbar {
    padding: .5rem;
}

[type="button"],
[type="submit"] {
    cursor: pointer;
}

.hidden {
    display: none;
}

.background-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pad-50 {
    width: 100%;
    padding-top: 50%;
}

.pad-70 {
    width: 100%;
    padding-top: 70%;
}