<div class="card">
    <div class="card-block">
        <form id="form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="type">Property type</label>
                <input data-validate="required" type="text" class="form-control" id="type" name="type">
            </div>

            <div class="form-group">
                <label for="road">Road name</label>
                <input data-validate="required" type="text" class="form-control" id="road" name="road">
            </div>

            <div class="form-group">
                <label for="number">Property number</label>
                <input data-validate="required integer" type="text" class="form-control" id="number" name="number">
            </div>

            <div class="form-group">
                <label for="floor">Floor</label>
                <input data-validate="required integer" type="text" class="form-control" id="floor" name="floor">
            </div>

            <div class="form-group">
                <label for="door">Door</label>
                <input data-validate="required" type="text" class="form-control" id="door" name="door">
            </div>

            <div class="form-group">
                <label for="postal">Postal code</label>
                <input data-validate="postal" type="text" class="form-control" id="postal" name="postal">
            </div>

            <div class="form-group">
                <label for="municipality">Municipality</label>
                <input data-validate="required" type="text" class="form-control" id="municipality" name="municipality">
            </div>

            <div class="form-group">
                <label for="rooms">Number of rooms</label>
                <input data-validate="required integer" type="text" class="form-control" id="rooms" name="rooms">
            </div>

            <div class="form-group">
                <label for="area">Area in m<sup>2</sup></label>
                <input data-validate="required integer" type="text" class="form-control" id="area" name="area">
            </div>

            <div class="form-group">
                <label for="year">Building year</label>
                <input data-validate="required integer" type="text" class="form-control" id="year" name="year">
            </div>

            <div class="form-group">
                <label for="expenses">Monthly owner expenses</label>
                <input data-validate="required integer" type="text" class="form-control" id="expenses" name="expenses">
            </div>

            <div class="form-group">
                <label for="deposit">Deposit</label>
                <input data-validate="required integer" type="text" class="form-control" id="deposit" name="deposit">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input data-validate="required integer" type="text" class="form-control" id="price" name="price">
            </div>

            <div class="form-group">
                <button id="add-image" type="button" class="btn btn-primary">Add image</button>
            </div>

            <div id="image-group"></div>

            <button type="submit" class="btn btn-primary">Update</button>
            <button id="delete-button" type="button" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>